.navBar {
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 3;
  color: red;
  transition: all 1s ease;
}

.navBar::-webkit-scrollbar {
  display: none;
}

.navBar .wrapper {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar .wrapper .left .logo {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: red;
}

.navBar .wrapper .right .hamburger {
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.navBar .wrapper .right .hamburger::-webkit-scrollbar {
  display: none;
}

.navBar .wrapper .right .hamburger span {
  width: 100%;
  height: 3px;
  background-color: red;
  transform-origin: left;
  transition: all 1.5s ease;
}

.active {
  background-color: blue;
  color: white;
}
.active .wrapper .left .logo {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.active .wrapper .right .hamburger span:first-child {
  background-color: white;
  transform: rotate(45deg);
}
.active .wrapper .right .hamburger span:nth-child(2) {
  opacity: 0;
}
.active .wrapper .right .hamburger span:last-child {
  background-color: white;
  transform: rotate(-45deg);
}

.active .wrapper .right .hamburger::-webkit-scrollbar {
  display: none;
}
